<!doctype html>
<html>

<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="Card.css">
</head>
<style>
    

</style>
   
<h1>
    Articles
</h1>

<body>
<div>
    <ul>
        <li>
            <a href="#">
                <h2>Title #1</h2>
                <p>Text Content #1</p>
            </a>
        </li>
        <li>
            <a href="#">
                <h2>Title #2</h2>
                <p>Text Content #2</p>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#">
                <h2>Title #1</h2>
                <p>Text Content #1</p>
            </a>
        </li>
        <li>
            <a href="#">
                <h2>Title #2</h2>
                <p>Text Content #2</p>
            </a>
        </li>
    </ul>
</div>

    Content goes here.
</body>

</html>